table {
    width: 90% !important;
    text-align: center;
}

canvas#line {
    margin-left: auto;
    margin-right: auto;
    width: 523px;
    height: 261px;
}

h1, h2 {
    padding-left: 10px;
}

.ng-table-pager{
    width: 90%;
    padding-left: 30px;
}

::-webkit-input-placeholder {
    text-align: center;
}




